<!--ABOUT PAGE-->

<h1>What is PetBook?</h1>
<%= render 'layouts/header' %>

<div align="center" class="about" id="about1">
        <img src="http://kids.nationalgeographic.com/content/dam/kids/photos/animals/Mammals/H-P/hedgehog-closeup.jpg" />
          <h2>Explore</h2><p>Explore new interesting and unique animals and breeds and <b>comment</b>, <b>like</b> and <b>follow</b> your favourites</p>
</div>

<div align="center" class="about" id="about2">
        <img src="http://images.express.co.uk/img/dynamic/40/590x/secondary/95898.jpg" />
        <h2>Connect</h2><p>Connect with other pet lovers, pet owners and breeders</p>
        </div>

<div align="center" class="about" id="about3">
        <img src="https://aos.iacpublishinglabs.com/question/aq/300px-169px/long-baby-rabbits-stay-mother_c2bade73e49e674b.jpg?domain=cx.aos.ask.com" />
        <h2>Share</h2><p>Share stories of your own pet in customizable Pet Profiles</p>
</div>

  <%= render 'layouts/footer' %>
