<h1>About PetBook</h1>
<%= render 'layouts/header' %>
<<<<<<< HEAD
<p>PetBook is a website for pet lovers and pet owners.</p>

<%= render 'layouts/footer' %>
=======
<p>PetBook is a website connecting pet lovers around the globe.
  <br /> <br /> This service is made as a part of the WWW services course at Aalto University. </p>
>>>>>>> origin/Zuzze
