<h1>About PetBook</h1>
<%= render 'layouts/header' %>

<p>PetBook is a website connecting pet lovers around the globe.
  <br /> <br /> This service is made as a part of the WWW services course at Aalto University. </p>

  <%= render 'layouts/footer' %>

