<%= render 'layouts/header' %>
<div class=row>
	<div class="col-md-3">
		<div class = "news-card">
		</div>

<h1 align="center">Notifications</h1>

	<table id="notification_table" align="center">
		<tr>
			<td>John liked your Post</td>
		</tr>
		<tr>
			<td>You commented on Amy's post</td>
		</tr>
		<tr>
			<td>You commented on Amy's post</td>
		</tr>
		<tr>
			<td>John liked your Post</td>
		</tr>
		<tr>
			<td>You commented on Amy's post</td>
		</tr>
		<tr>
			<td>You commented on Amy's post</td>
		</tr>

	</div>

</div>
