.btn-primary {
  font-family: 'Helvetica Neue';
  font-size: large;
  background-color:black;
  border-color: black;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
}
.btn-primary:hover { background-color: white; }
